# Modeling
## 데이터 불러오기

In [2]:
import pandas as pd

busan_10 = pd.read_csv('./../data/b_10.csv',  encoding = 'cp949')
seoul_10 = pd.read_csv('./../data/s_10.csv',  encoding = 'cp949')
busan_11 = pd.read_csv('./../data/b_11.csv',  encoding = 'cp949')
seoul_11 = pd.read_csv('./../data/s_11.csv',  encoding = 'cp949')
busan_12 = pd.read_csv('./../data/b_12.csv',  encoding = 'cp949')
seoul_12 = pd.read_csv('./../data/s_12.csv',  encoding = 'cp949')
busan_13 = pd.read_csv('./../data/b_13.csv',  encoding = 'cp949')
seoul_13 = pd.read_csv('./../data/s_13.csv',  encoding = 'cp949')
busan_14 = pd.read_csv('./../data/b_14.csv',  encoding = 'cp949')
seoul_14 = pd.read_csv('./../data/s_14.csv',  encoding = 'cp949')
busan_15 = pd.read_csv('./../data/b_15.csv',  encoding = 'cp949')
seoul_15 = pd.read_csv('./../data/s_15.csv',  encoding = 'cp949')
busan_16 = pd.read_csv('./../data/b_16.csv',  encoding = 'cp949')
seoul_16 = pd.read_csv('./../data/s_16.csv',  encoding = 'cp949')
busan_17 = pd.read_csv('./../data/b_17.csv',  encoding = 'cp949')
seoul_17 = pd.read_csv('./../data/s_17.csv',  encoding = 'cp949')

## 데이터 합치기

In [12]:
busan1 = pd.concat([busan_10, busan_11, busan_12, busan_13, busan_14, busan_15, busan_16, busan_17] )
seoul1 = pd.concat([seoul_10, seoul_11, seoul_12, seoul_13, seoul_14, seoul_15, seoul_16, seoul_17] )

## 칼럼 일치화

In [9]:
def change_col(A):
    A["sod_02z1"] = A["sod_02z2"]
    del A["sod_02z2"]
    return A["sod_02z1"]

In [8]:
change_col(seoul_14)
change_col(seoul_15)
change_col(seoul_16)
change_col(seoul_17)

change_col(busan_14)
change_col(busan_15)
change_col(busan_16)
change_col(busan_17)

0        1
1        1
2        1
3        3
4        3
        ..
14516    1
14517    1
14518    5
14519    1
14520    1
Name: sod_02z1, Length: 14521, dtype: int64

## 데이터 확인

In [19]:
seoul1.head()

,bogun_cd,age,sex,apt_t,fma_19z1,fma_04z1,fma_24z1,sma_03z2,drb_01z2,pha_04z1,...,oba_01z1,obb_01z1,mtc_01z1,mta_01z1,mtb_01z1,hya_06z1,dia_06z1,ara_22z1,sod_02z1,Obesity
0,1,33,1,2,21.0,3.0,6,1,4.0,0,...,3,4,6,3,2,8,8,8,1,2
1,1,29,2,2,21.0,3.0,6,8,8.0,0,...,4,4,7,4,2,8,8,8,1,3
2,1,40,1,2,21.0,3.0,5,1,1.0,0,...,4,1,7,3,2,8,8,8,1,2
3,1,37,2,2,21.0,3.0,5,8,1.0,0,...,3,2,6,3,2,8,8,8,1,2
4,1,61,1,2,12.0,3.0,6,1,2.0,0,...,3,2,8,3,2,8,1,8,1,2

In [18]:
busan1.head()

,bogun_cd,age,sex,apt_t,fma_19z1,fma_04z1,fma_24z1,sma_03z2,drb_01z2,pha_04z1,...,oba_01z1,obb_01z1,mtc_01z1,mta_01z1,mtb_01z1,hya_06z1,dia_06z1,ara_22z1,sod_02z1,Obesity
0,26,54,2,1,32,3,5,8,4,0,...,4,1,7,3,2,1,8,8,1,3
1,26,61,1,1,32,3,5,1,4,0,...,4,1,7,2,2,1,1,8,1,3
2,26,27,1,1,32,3,5,1,4,0,...,3,4,7,2,2,8,8,8,8,2
3,26,80,2,1,32,3,5,8,3,0,...,3,4,6,4,2,8,8,8,3,3
4,26,51,2,1,27,3,3,8,2,7,...,3,2,6,2,1,8,8,8,4,2

In [40]:
seoul1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161365 entries, 0 to 22954
Data columns (total 24 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   bogun_cd  161365 non-null  int64
 1   age       161365 non-null  int64
 2   sex       161365 non-null  int64
 3   apt_t     161365 non-null  int64
 4   fma_19z1  161365 non-null  float64
 5   fma_04z1  161365 non-null  float64
 6   fma_24z1  161365 non-null  int64
 7   sma_03z2  161365 non-null  int64
 8   drb_01z2  161365 non-null  float64
 9   pha_04z1  161365 non-null  int64
 10  pha_07z1  161365 non-null  int64
 11  phb_01z1  161365 non-null  int64
 12  nua_01z1  161365 non-null  int64
 13  nub_01z1  161365 non-null  int64
 14  oba_01z1  161365 non-null  int64
 15  obb_01z1  161365 non-null  int64
 16  mtc_01z1  161365 non-null  int64
 17  mta_01z1  161365 non-null  int64
 18  mtb_01z1  161365 non-null  int64
 19  hya_06z1  161365 non-null  int64
 20  dia_06z1  161365 non-null  int64
 21  ara_22z1  161365 non-null  int64
 22  sod_02z1  161365 non-null  int64
 23  Obesity   161365 non-null  int64
dtypes: float64(3), int64(21)
memory usage: 30.8 MB

In [17]:
busan1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109314 entries, 0 to 14520
Data columns (total 24 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   bogun_cd  109314 non-null  int64
 1   age       109314 non-null  int64
 2   sex       109314 non-null  int64
 3   apt_t     109314 non-null  int64
 4   fma_19z1  109314 non-null  int64
 5   fma_04z1  109314 non-null  int64
 6   fma_24z1  109314 non-null  int64
 7   sma_03z2  109314 non-null  int64
 8   drb_01z2  109314 non-null  int64
 9   pha_04z1  109314 non-null  int64
 10  pha_07z1  109314 non-null  int64
 11  phb_01z1  109314 non-null  int64
 12  nua_01z1  109314 non-null  int64
 13  nub_01z1  109314 non-null  int64
 14  oba_01z1  109314 non-null  int64
 15  obb_01z1  109314 non-null  int64
 16  mtc_01z1  109314 non-null  int64
 17  mta_01z1  109314 non-null  int64
 18  mtb_01z1  109314 non-null  int64
 19  hya_06z1  109314 non-null  int64
 20  dia_06z1  109314 non-null  int64
 21  ara_22z1  109314 non-null  int64
 22  sod_02z1  109314 non-null  int64
 23  Obesity   109314 non-null  int64
dtypes: int64(24)
memory usage: 20.8 MB

In [21]:
seoul1.isna().sum()

bogun_cd    0
age         0
sex         0
apt_t       0
fma_19z1    0
fma_04z1    0
fma_24z1    0
sma_03z2    0
drb_01z2    0
pha_04z1    0
pha_07z1    0
phb_01z1    0
nua_01z1    0
nub_01z1    0
oba_01z1    0
obb_01z1    0
mtc_01z1    0
mta_01z1    0
mtb_01z1    0
hya_06z1    0
dia_06z1    0
ara_22z1    0
sod_02z1    0
Obesity     0
dtype: int64

In [20]:
busan1.isna().sum()

bogun_cd    0
age         0
sex         0
apt_t       0
fma_19z1    0
fma_04z1    0
fma_24z1    0
sma_03z2    0
drb_01z2    0
pha_04z1    0
pha_07z1    0
phb_01z1    0
nua_01z1    0
nub_01z1    0
oba_01z1    0
obb_01z1    0
mtc_01z1    0
mta_01z1    0
mtb_01z1    0
hya_06z1    0
dia_06z1    0
ara_22z1    0
sod_02z1    0
Obesity     0
dtype: int64

## 독립변수, 종속변수 지정

In [22]:
y = busan1["Obesity"]
X = busan1.drop(["Obesity"], axis = 1)

In [27]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.1, random_state=1)

## 정규화

In [26]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## LinearRegression 모델

In [28]:
mvr = LinearRegression()

In [30]:
mvr.fit(X_train, Y_train)

LinearRegression()

In [31]:
r_square = mvr.score(X_test, Y_test)
print(r_square)

0.3950709531815171

## RandomForest 모델

In [32]:
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [36]:
rf = RandomForestClassifier(random_state=100, max_depth = 5)

In [37]:
rf.fit(X_train, Y_train)

RandomForestClassifier(max_depth=5, random_state=100)

In [38]:
r_square = rf.score(X_test, Y_test)
print(r_square)

0.7607025246981339

## DNN 모델

In [57]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [65]:
model = Sequential()
model.add(Dense(256, input_shape=(23,), activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense((1), activation='softmax'))
model.compile(loss='mse', optimizer='Adam', metrics=['accuracy'])
model.summary()

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_42 (Dense)             (None, 256)               6144
_________________________________________________________________
dense_43 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_44 (Dense)             (None, 16)                4112
_________________________________________________________________
dense_45 (Dense)             (None, 16)                272
_________________________________________________________________
dense_46 (Dense)             (None, 1)                 17
=================================================================
Total params: 76,337
Trainable params: 76,337
Non-trainable params: 0
_________________________________________________________________

In [66]:
history = model.fit(X_train, Y_train, validation_data=(X_test, Y_test), epochs=5)

Epoch 1/5
3075/3075 [==============================] - 5s 2ms/step - loss: 1.6665 - accuracy: 0.0591 - val_loss: 1.6774 - val_accuracy: 0.0589
Epoch 2/5
2046/3075 [==================>...........] - ETA: 1s - loss: 1.6677 - accuracy: 0.0587 ETA: 2s - loss: 1.6699 - accu - ETA: 2s - loss: 1.6692 - ac

KeyboardInterrupt:

In [68]:
score = model.evaluate(X_test, Y_test)
score[1] = 100 - 100*(score[1])
print(score[1])

342/342 [==============================] - 1s 2ms/step - loss: 1.6774 - accuracy: 0.0589
94.10903751850128